<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <div class="signup-container">
    <h2>Signup</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username() }} <br>
        {{ form.email.label }} {{ form.email() }} <br>
        {{ form.password.label }} {{ form.password() }} <br>
        {{ form.submit() }}
    </form>
    <a href="{{ url_for('auth.login') }}">Already have an account? Login</a>
</div>
</body>
</html>
